.clean-list {
    list-style: none;
    padding: 0;
    margin: 0
}

.clean-list ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.clean-list li {
    display: inline-block
}

#botones {
    z-index: 99;
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    -moz-box-pack: space-between
}

#botones .wrapper-contenido {
    width: 19.5%;
    text-align: center
}

#botones li a {
    display: block;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 4px;
    white-space: pre-wrap;
    position: relative;
    transition: none;
    color: #fff
}
/*color="#ed9301"*/
#botones li a {
    background: #ed9301
}

#resultados-buscador-pages .resultados-item .meta li a>h3,
.contenido-preguntas {
    color: #ed9301
}

#botones .wrapper-contenido:hover a {
    color: #000
}

#botones .wrapper-contenido:hover .contenido-preguntas {
    color: #000;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .3)
}

.contenido-preguntas {
    position: absolute;
    left: 0;
    opacity: 0;
    background: #fff;
    right: 0;
    bottom: 9999999px;
    padding: 10px
}

.contenido-preguntas ul li {
    display: block
}

#botones .wrapper-contenido .contenido-preguntas a {
    line-height: 24px;
    margin-bottom: 10px
}

#botones .wrapper-contenido .contenido-preguntas li:last-child a {
    margin-bottom: 0
}

#botones .wrapper-contenido:hover .contenido-preguntas {
    text-align: left
}

#botones .wrapper-contenido:hover .contenido-preguntas li:not(:last-child) {
    margin-bottom: 5px
}

#botones .wrapper-contenido:hover .contenido-preguntas li:not(:last-child) {
    border-bottom: dashed 1px #e3e3e3
}

#botones .wrapper-contenido:hover a {
    background: #fff;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    z-index: 99
}

#botones .wrapper-contenido:hover .contenido-preguntas {
    opacity: 1;
    bottom: auto;
    border-radius: 3px;
    z-index: 9
}

#botones .wrapper-contenido:hover>a:before {
    content: ' ';
    position: absolute;
    left: -5px;
    bottom: 0;
    display: block;
    height: 5px;
    width: 5px;
    border-bottom-right-radius: 5px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #fff
}

#botones .wrapper-contenido:first-of-type:hover .contenido-preguntas {
    border-top-left-radius: 0
}

#botones .wrapper-contenido:first-of-type:hover>a:before {
    display: none
}

#botones .wrapper-contenido:hover>a:after {
    content: ' ';
    position: absolute;
    right: -5px;
    bottom: 0;
    display: block;
    height: 5px;
    width: 5px;
    border-bottom-left-radius: 5px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #fff
}

#botones .wrapper-contenido:last-of-type:hover .contenido-preguntas {
    border-top-right-radius: 0
}

#botones .wrapper-contenido:last-of-type:hover>a:after {
    display: none
}

#botones .contenido-preguntas:hover {
    display: block
}

@media only screen and (max-width:768px) {
    #botones>li:nth-child(odd) {
        float: right;
        padding-right: 0
    }

    #botones .wrapper-contenido:nth-child(odd):hover>a:after {
        display: none
    }

    #botones>li:nth-child(even) {
        float: left;
        padding-left: 0
    }

    #botones .wrapper-contenido:nth-child(even):hover>a:before {
        display: none
    }

    #botones>li:first-child {
        width: 100%;
        float: none !important;
        display: block;
        padding: 0;
        padding-bottom: 3px
    }

    #botones .wrapper-contenido:first-child .contenido-preguntas {
        border-top-right-radius: 0
    }

    #botones .wrapper-contenido:first-child:hover>a:after {
        display: none
    }

    #botones {
        display: block
    }

    #botones li:first-child {
        width: 100%
    }

    #botones>li {
        width: 50%;
        display: inline-block;
        text-align: center;
        margin: 0;
        padding: 3px
    }

    #botones li.wrapper-contenido:not(:first-child) {
        width: 50% !important
    }
}